<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>環境設定</title>
    <!-- <link rel="stylesheet" href="./style.css" /> -->
  </head>
  <body>   
    <p>スクリーンセーバー起動までの時間: <input type="number" :value= /> 秒</p>
    <hr>
    <p>画像URL: <input type="text" value="https://i.gyazo.com/28cd7cf6bc87f9c5b53d849b4e121e21.png" /></p>
    <!-- or
    <p>目標: <input type="text" /></p> -->

    <p>
        <button id="setting">設定</button>
    </p>

    <script src="./setting.js"></script>
  </body>
</html>
